{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base-protocol.html" %}

{% block page_title %}Firefox Election Bundle{% endblock %}
{% block page_desc %}Decode political ad targeting and keep Facebook off your trail with these extensions.{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_election') }}
{% endblock %}

{% block body_id %}election{% endblock %}

{% block body_class %}election{% endblock %}

{% block content %}

<main class="mzp-t-firefox">
  <div id="election-not-firefox" >
    <div class="t-paper">
      <section class="mzp-c-hero">
        <div class="mzp-l-content">
          <div class="mzp-c-hero-body">
            <h1 class="mzp-c-hero-title">Get Smart Before You Vote.</h1>
            <div class="mzp-c-hero-desc">
              <p>Download the Firefox Election Bundle to get the already powerful Firefox browser supercharged with extensions that help you decode political ad targeting and keep Facebook off your trail.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-container">
        <div class="mzp-l-content">
          <h2 class="mzp-c-call-out-title">The Firefox Facebook Container</h2>
          <div class="mzp-c-call-out-desc">
            <p>Facebook lets political advertisers target you by tracking your activity on and off their platform.</p>
            <p>With this extension, Firefox makes it easier to explore the web without Facebook watching, so you can keep your political opinions to yourself and your dinner companions.</p>
            <p class="mzp-c-button-download">
              <small class="mzp-c-button-download-privacy-link">
                <a href="https://www.mozilla.org/privacy/firefox/">Firefox Privacy Notice</a>
              </small>
            </p>
          </div>
        </div>
      </section>
    </div>
    <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-pro">
      <div class="mzp-l-content">
        <h2 class="mzp-c-call-out-title">The ProPublica Facebook Political Ad Collector</h2>
        <div class="mzp-c-call-out-desc">
          <p>Participate in ProPublica’s crowdsourcing extension that automatically gathers political ads from Facebook, the biggest online platform for political discourse. Your contribution feeds a public database that lets you see what others are seeing and helps journalists flag misinformation. It’s a win-win for you and the web.</p>
          <p>Since the Political Ad Collector was developed by ProPublica, not Mozilla, the <a href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/privacy/">ProPublica privacy policy</a> applies to this extension.</p>
        </div>
      </div>
    </section>
    <section class="mzp-c-call-out mzp-t-firefox">
      <div class="mzp-l-content">
        <div class="mzp-c-call-out-content">
          <div class="mzp-c-call-out-container">
            <h2 class="mzp-c-call-out-title">Download Firefox Election Bundle</h2>
          </div>
        </div>
        <div class="mzp-c-call-out-cta">
          <div class="mzp-c-call-out-cta-container">
            <div class="mzp-c-button-download">
              <p>
                <a href="#TODO" class="mzp-c-button mzp-t-download">
                  Download Firefox Election Bundle
                </a>
              </p>
              <p><a href="#TODO">Nah, just give me Firefox</a></p>
              <small class="mzp-c-button-download-privacy-link">
                <a href="https://www.mozilla.org/privacy/firefox/">Firefox Privacy Notice</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="election-has-firefox" class="hidden">
    <div class="t-paper">
      <section class="mzp-c-hero">
        <div class="mzp-l-content">
          <div class="mzp-c-hero-body">
            <h1 class="mzp-c-hero-title">Get Smart Before You Vote.</h1>
            <div class="mzp-c-hero-desc">
                <p>Decode political ad targeting and keep Facebook off your trail with these extensions.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-container">
        <div class="mzp-l-content">
          <h2 class="mzp-c-call-out-title">The Firefox Facebook Container</h2>
          <div class="mzp-c-call-out-desc">
            <p>Facebook helps political advertisers target you by tracking your activity on and off their platform.</p>
            <p>This extension makes it easier to explore the web without Facebook watching, so you can keep your political opinions to yourself and your dinner companions. </p>
            <p class="mzp-c-button-download">
              <a class="mzp-c-button" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-container/">Get It</a><br>
              <small class="mzp-c-button-download-privacy-link">
                <a href="https://www.mozilla.org/privacy/firefox/">Firefox Privacy Notice</a>
              </small>
            </p>
          </div>
        </div>
      </section>
    </div>
    <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-pro">
      <div class="mzp-l-content">
        <h2 class="mzp-c-call-out-title">The ProPublica Facebook Political Ad Collector</h2>
        <div class="mzp-c-call-out-desc">
          <p>Participate in ProPublica’s crowdsourcing extension that automatically gathers political ads from Facebook, the biggest online platform for political discourse. Your contribution feeds a public database that lets you see what others are seeing and helps journalists flag misinformation. It’s a win-win for you and the web.</p>
          <p>Since the Political Ad Collector was developed by ProPublica, not Mozilla, the <a href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/privacy/">ProPublica privacy policy</a> applies to this extension.</p>
          <p class="mzp-c-button-download"><a class="mzp-c-button" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/">Get It</a></p>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_election') }}
{% endblock %}
